---
import { getCollection } from "astro:content";
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import Post from "../../../components/Post.astro";
import ColorScript from "../../../components/ColorScript.astro";
import {
  getLocaleCopy,
  getLocaleInfo,
  getLocalizedPosts,
  sortPosts,
} from "../../../lib/i18n";

const locale = "pt-BR";

export async function getStaticPaths() {
  const posts = getLocalizedPosts(await getCollection("posts"), "pt-BR");
  const tags = posts.reduce((allTags, post) => {
    const postTags = post.data.tags;
    if (postTags) {
      postTags.forEach((tag) => {
        if (!allTags[tag]) {
          allTags[tag] = [];
        }
        allTags[tag].push(post);
      });
    }
    return allTags;
  }, {});

  return Object.keys(tags).map((t) => {
    return {
      params: { tag: t },
      props: { tag: tags[t] },
    };
  });
}

const { tag } = Astro.props;
const { tag: currentTag } = Astro.params;
const localeInfo = getLocaleInfo(locale);
const copy = getLocaleCopy(locale);

let sortedPosts = sortPosts(tag);
---

<!doctype html>
<html lang={localeInfo.lang}>
  <BaseHead
    title={copy.tags.pageTitle(currentTag)}
    description={copy.tags.pageDescription(currentTag)}
    canonical={`/pt-BR/tag/${currentTag}/`}
    locale={locale}
  />
  <body>
    <Header locale={locale} />
    <main>
      <content>
        <h3>{copy.tags.heading(currentTag)}</h3>
        <ul class="tags-list">
          {
            sortedPosts.map(
              ({ data: { description, slug, title, tags, added: date } }) => (
                <Post
                  {description}
                  {date}
                  {slug}
                  {title}
                  {tags}
                  locale={locale}
                />
              ),
            )
          }
        </ul>
      </content>
      <Footer locale={locale} />
    </main>
    <ColorScript />
  </body>
</html>
