---
import { DEFAULT_LOCALE, getLocaleCopy, localizedPath } from "../lib/i18n";

const { locale = DEFAULT_LOCALE } = Astro.props;
const copy = getLocaleCopy(locale).about;
const newsletterPath = localizedPath(locale, "/newsletter/");
const rssPath = localizedPath(locale, "/rss.xml");
---

<h1>{copy.heading}</h1>

<p>{copy.intro}</p>

<p>{copy.details}</p>

<p>
  {copy.linksPrefix}
  <a href="https://github.com/mauriciord">GitHub</a>,
  <a href="https://linkedin.com/in/mauriciord">LinkedIn</a>, {copy.linksSuffix}
  <a href={newsletterPath}>{copy.newsletterLink}</a>.
</p>

<p>
  {copy.rssPrefix}
  <a href={rssPath}>{copy.rssLink}</a>.
</p>
