---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ColorScript from "../../components/ColorScript.astro";
import AboutContent from "../../components/AboutContent.astro";
import {
  AUTHOR_IMAGE,
  AUTHOR_NAME,
  PERSON_ID,
  SOCIAL_LINKS,
} from "../../config";
import { getLocaleCopy, getLocaleInfo } from "../../lib/i18n";

const locale = "pt-BR";
const localeInfo = getLocaleInfo(locale);
const copy = getLocaleCopy(locale);
const site = Astro.site ?? Astro.url.origin;
const personSchema = {
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "@id": new URL(`${localeInfo.about}#profile`, site).toString(),
  mainEntity: {
    "@type": "Person",
    "@id": PERSON_ID,
    name: AUTHOR_NAME,
    description: copy.authorDescription,
    url: new URL(localeInfo.about, site).toString(),
    image: new URL(AUTHOR_IMAGE, site).toString(),
    sameAs: SOCIAL_LINKS,
  },
};
---

<!doctype html>
<html lang={localeInfo.lang}>
  <BaseHead
    title={copy.about.pageTitle}
    description={copy.about.pageDescription}
    canonical={localeInfo.about}
    locale={locale}
    alternatePath="/about/"
    structuredData={personSchema}
  />
  <body>
    <Header locale={locale} />
    <main>
      <AboutContent locale={locale} />
    </main>
    <Footer locale={locale} />
    <ColorScript />
  </body>
</html>
