---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Post from "../../components/Post.astro";
import ColorScript from "../../components/ColorScript.astro";
import {
  getLocaleCopy,
  getLocaleInfo,
  getLocalizedPosts,
  sortPosts,
} from "../../lib/i18n";

const locale = "pt-BR";
const localeInfo = getLocaleInfo(locale);
const copy = getLocaleCopy(locale);
const posts = sortPosts(
  getLocalizedPosts(await getCollection("posts"), locale),
);
---

<!doctype html>
<html lang={localeInfo.lang}>
  <BaseHead
    title={copy.posts.pageTitle}
    description={copy.posts.pageDescription}
    canonical={localeInfo.posts}
    locale={locale}
    alternatePath="/posts/"
  />
  <body>
    <Header locale={locale} />
    <main>
      <content>
        {
          posts.length > 0 ? (
            <ul class="posts-list">
              {posts.map(
                ({ data: { description, slug, title, tags, added: date } }) => (
                  <Post
                    {description}
                    {date}
                    {slug}
                    {title}
                    {tags}
                    locale={locale}
                  />
                ),
              )}
            </ul>
          ) : (
            <p class="center">{copy.posts.empty}</p>
          )
        }
      </content>

      <p class="center">
        {copy.posts.rssPrefix}
        <a href={localeInfo.rss}>{copy.posts.rssLink}</a>
      </p>
    </main>
    <Footer locale={locale} />
    <ColorScript />
  </body>
</html>
